<!DOCTYPE html>
<html>
<head>
	<title>ABOUT US</title>
	<link rel="stylesheet" type="text/css" href="static/about.css">
</head>
<body style="background-image: url({{url_for('static',filename='wall1.jpg')}}); ">
	<div class="container">
		<div class="row">
			
	
		<div class="main">
		<h1>ABOUT US</h1>
		<p>Step Shoes is an American multinational technology company based in Seattle, Washington, which focuses on e-commerce, cloud computing, digital streaming, and artificial intelligence.In January 2021, Amazon invested with over $278 million by opening two new centers in Italy (Novara and Modena) and creating over 1100 jobs.On February 2, 2021, Amazon announced that Jeff Bezos would be stepping down as CEO and transition to Executive Chair of Amazon's board in Q3 of 2021. Andy Jassy, who is currently CEO of AWS, will replace Bezos as CEO of the company.In January 2021, Amazon invested with over $278 million by opening two new centers in Italy (Novara and Modena) and creating over 1100 jobs.On February 2, 2021, Amazon announced that Jeff Bezos would be stepping down as CEO and transition to Executive Chair of Amazon's board in Q3 of 2021. Andy Jassy, who is currently CEO of AWS, will replace Bezos as CEO of the company.[</p>
		</div>
	</div>
		</div>

</body>
</html>