<!DOCTYPE html>
<html>
<head>
	<title>Blog Display</title>
<style> 
textarea {
  width: 100%;
  height: 100px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
</style>
</head>
<body>
	<form action="#" method="POST">
		<input type="image" img src="https://c0.wallpaperflare.com/preview/920/519/697/abstract-php-c-analytics.jpg" name="image"><br>
  		<label>User_id:</label><br>
  		<input type="text"  name="uid" ><br>
  		<label>Username:</label><br>
  		<input type="text"  name="username" ><br>
  		<label>Title:</label><br>
  		<input type="text" name="title"><br>
  		<label>Date:</label><br>
  		<input type="date" name="date"><br>
  		<label for="blog" >Content:</label><br>
		<textarea id="blog" name="content">My blog..</textarea>
		<input  type="submit" value="Submit">
</form>
</body>
</html>