<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <style type="text/css">
 body
{
  background: url(static/wall11.jpg);
  background-size: cover; 
  font-family: Arial;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 25px
}

table.center {
  margin-left: auto; 
  margin-right: auto;

}
  
</style>
<body style="background-image: url({{ url_for('static', filename='wall11.jpg') }})">
  <h3><a href = "{{ url_for('add_blog') }}">Add User</a></h3>
  <table class="center" border='3'>
         <thead>
          <tr>
            
            <th>Username</th>
            <th>Title</th>
            <th>Content</th>
            <th>Image</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {% for user in result %}
          <tr>
           
            <td>{{ user.username}}</td>
            <td>{{ user.title }}</td>
            <td>{{ user.content }}</td>
            <td>{{ user.image }}</td>
            <td>{{ user.date}}</td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
   </body>
</html>