<!DOCTYPE html>
<html lang = "en">
<head></head>
<style type="text/css">
 body
{
  background: url(static/wall11.jpg);
  background-size: cover; 
  font-family: Arial;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 25px
}

table.center {
  margin-left: auto; 
  margin-right: auto;

}
	
</style>
<body style="background-image: url({{ url_for('static', filename='wall11.jpg') }})">
	<h3><a href = "{{ url_for('signup') }}">Add User</a></h3>
	<table class="center" border='3'>
		<thead>
			<tr>
				<th>User id</th>
				<th>Username</th>
				<th>Email_id</th>
				<th>DOB</th>
				<th>Password</th>
			</tr>
		</thead>

		<tbody>

			<tr>
				<td>{{result.uid}}</td>
				<td>{{result.username}}</td>
				<td>{{result.email_id}}</td>
				<td>{{result.dob}}</td>
				<td>{{result.password}}</td>
			</tr>
		</tbody>
</table>
</body>
</html>