<!DOCTYPE html>
<html>
<head>
	<title>Page Not Found</title>
	<link rel="stylesheet" type="text/css" href="static/page.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url({{ url_for('static', filename='wall1.jpg') }})">
	<div class="container">
		<h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>404</h1>
		<p>Page not found</p>
		<a href="file:///home/gopika/Desktop/E-Commerce/ecom/shoes.html">Go back home</a>
	</div>
</body>
</html>